rules_version = '2';

service cloud.firestore {
  function isAuth(){
    return request.auth.uid != null;
  }

  function isOwner(uid){
    return isAuth() && request.auth.uid == uid;
  }

  function isAdmin(){
    return request.auth.uid == 'pDDrMsBwcOU1u5ZlrQLd5WptpzU2' || request.auth.uid == 'Fxbfs0rhFRX8IQUqksJedKhLilQ2';
  }

  match /databases/{database}/documents {
    match /restaurants/{restaurantId} {
      allow get: if isAuth()
      allow list: if isAuth()
      allow create: if isAuth()

      match /address/{addressId} {
        allow get: if isAuth()
        allow list: if isAuth()
      }
      match /bookable_tables/{tableId} {
        allow get: if isAuth()
        allow list: if isAuth()
      }
    }
    match /users/{uid} {
      allow get: if isAuth()
      allow list: if isAuth()

      match /reservations/{reservationId} {
        allow get: if isOwner(uid)
        allow list: if isOwner(uid)
        allow create: if isOwner(uid)
      }
    }
    match /operation_for_reservations/{operationId} {
      allow get: if isAdmin()
      allow list: if isAdmin()
    }
  }
}